.Form input{
    padding: 15px 20px;
    width: 90%;
    margin: 10px 5px;
    border-radius: 5px;
}

.Form input[type='submit']{
    width: fit-content;
    border-radius: 15px;
    color: #F5F4F4;
    background-color: #8FB570;
    margin-top: 20px;
}

.Form a:hover{
    color: #E73541;
}

.AddReportForm input, .AddReportForm select, .AddReportForm textarea, .AddUserForm input, .AddUserForm select{
    height: 20px;
    background: none;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
}

.AddReportForm input:focus{
    border-color: #8FB570;
}
.AddReportForm, .AddUserForm{
    align-content: center;
    padding: 15px;
    width: 58%;
}

.AddReportForm label, .AddUserForm label{
    font-size: 12px;
    padding: 5px 10px;
}

.AddReportForm select, .AddUserForm select{
    height: auto;
}

.image{
    background: url("../assets/Design sans titre.png");
    width: 42%;
    overflow: hidden;
}

.AddReportForm input[type='submit'], .AddUserForm input[type='submit']{
    padding: 15px;
    height: auto;
    margin: 50px 15px 25px;
    background: #8fb570;
    width: 100%;
}

.AddReportForm input[type='button']{
    padding: 15px;
    height: auto;
    margin: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
}

.AddReportForm h1{
    font-size: 39px;
    margin-bottom: 30px;
    color: #F4F5F5;
    text-decoration: beige;
}

.AddUserForm p{
    color: #F5F4F4;
    font-size: 26px;
    margin: -20px 0 10px 0;
}

.valid-submit {
    background-color: #F4F5F5 !important;
    color: #8fb570;
    cursor: pointer;
}

@media screen and (max-width: 820px){
    .image {
        display: none;
    }

    .AddUserForm{
        width: 90%;
        margin: auto;
    }
    .AddUserForm p{
        font-size: 24px;
        margin: -20px 0 10px 0;
    }

    .AddReportForm{
        width: 100% !important;
        margin: auto !important;
    }

    .modal-content{
        position: fixed;
        width: 80%;
        margin: auto;
        height: 80%;
        overflow: auto;
        border-radius: 15px;
    }

    .AddReportForm div, .modal-content div{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 10px auto;
    }

    .AddReportForm div div, .modal-content div div{
        display: flex;
        flex-direction: column;
        margin: 10px auto !important;
        width: 95%;
    }

    .AddReportForm input[type='submit'], mo{
        width: 95%;
        margin: 50px auto 15px;
    }

    .AddReportForm input[type='button']{
        width: 95%;
        margin: auto;
    }
    .AddReportForm h1{
        font-size: 28px;
        text-align: center;
    }
}